@using MudBlazor
@inject IDialogService DialogService

<button @onclick="ShowDeleteDialog">Delete User</button>

@code {
    private async Task ShowDeleteDialog()
    {
        var parameters = new DialogParameters
        {
            { "ItemName", "Test User" } 
        };

        var options = new DialogOptions
            {
                CloseButton = true,
                MaxWidth = MaxWidth.Small,
                FullWidth = true
            };

        var dialog = DialogService.Show<DeleteDialog>("Confirm Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            Console.WriteLine("User deleted!");
        }
        else
        {
            Console.WriteLine("Deletion canceled!");
        }
    }
}
